* {
  scroll-behavior: smooth;
}

/*BARRA NAVEGACION*/
.navbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.nav__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.nav__link {
  text-align: center;
  color: rgb(238, 238, 238);
  text-decoration: none;
}

.brand {
  margin: 0;
  font-size: 30px;
  font-family: "Stick No Bills", sans-serif;
}

.brand a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.nav__items {
  margin-top: 5px;
}

.brand .nav__link,
.nav__items .nav__link {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.nav__items .nav__link {
  color: rgb(238, 238, 238);
  font-size: 0.99rem;
}

.nav__items .nav__link:hover {
  color: rgb(252, 248, 41);
}

/*CONTENIDO PRINCIPAL*/
.banner {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
}
.banner .img-fluid {
  animation: myAnim1 1s ease 0s 1 normal forwards;
}
@keyframes myAnim1 {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.h1_fabricantes {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 5%;
  animation: myAnim2 2s ease-in-out 0s 1 normal forwards;
}
@keyframes myAnim2 {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.img_inicio {
  display: flex;
  height: 80vh;
  justify-content: center;
  margin-top: 3%;
}
.img_inicio img {
  box-shadow: -3px 5px 10px 1px #868686;
}

#article_fabricantes1 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgb(110, 110, 110);
  margin-top: 2%;
}

#article_envios {
  justify-content: center;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: rgb(238, 238, 238);
  margin-top: 2%;
  text-shadow: 0px 0px 8px rgb(252, 248, 41);
  background-color: rgb(0, 0, 0);
  animation: myAnim3 2s ease 0s infinite normal forwards;
}
@keyframes myAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.h2_servicios {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 2%;
}

#article_servicios1, #article_servicios2 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: rgb(110, 110, 110);
  margin-top: 2%;
}

#article_servicios3 {
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 2%;
  text-shadow: 0px 0px 15px rgb(0, 0, 0);
  -webkit-animation: text-shadow-pop-left 2s infinite alternate;
  animation: text-shadow-pop-left 2s infinite alternate;
}
@-webkit-keyframes text-shadow-pop-left {
  0% {
    text-shadow: 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 #ffde59, -2px 0 #ffde59, -3px 0 #ffde59, -4px 0 #ffde59, -5px 0 #ffde59, -6px 0 #ffde59, -7px 0 #ffde59, -8px 0 #ffde59;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}
@keyframes text-shadow-pop-left {
  0% {
    text-shadow: 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59, 0 0 #ffde59;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    text-shadow: -1px 0 #ffde59, -2px 0 #ffde59, -3px 0 #ffde59, -4px 0 #ffde59, -5px 0 #ffde59, -6px 0 #ffde59, -7px 0 #ffde59, -8px 0 #ffde59;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

.img_puertas {
  display: flex;
  height: 80vh;
  justify-content: center;
  margin-top: 3%;
}
.img_puertas img {
  box-shadow: -3px 5px 10px 1px #868686;
}

.h3_ubicacion, #article_ubicacion3 {
  font-size: 40px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 2%;
}

#article_ubicacion1, #article_ubicacion2 {
  font-size: 25px;
  text-align: center;
  color: rgb(110, 110, 110);
}

#article_ubicacion1 {
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 2%;
}

#article_ubicacion2 {
  font-family: "Roboto", sans-serif;
}

.mapa {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 2%;
  animation: animacion 1s ease 0s 1 normal forwards;
}

@keyframes animacion {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mapa iframe {
  box-shadow: -2px 3px 6px 1px #000;
}

.container_redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 3%;
}

.links_redes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  list-style-type: none;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.31);
  margin-top: 1%;
}
.links_redes a:link, .links_redes a:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.links_redes a:hover {
  color: #ffc61b;
  text-shadow: 0px 0px 2px #000000, 0px 0px 2px #000000;
}

/*FOOTER*/
.footer-clean {
  border: 0;
  margin: 0;
  /*margin-top: 30%;*/
  position: static;
  padding: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(252, 248, 41);
}
.footer-clean h4 {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}
.footer-clean ul {
  font-family: "Roboto", sans-serif;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-clean ul a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  opacity: 0.8;
}
.footer-clean ul a:hover {
  opacity: 1;
}
.footer-clean .item.social {
  text-align: right;
}
.footer-clean .item.social > a {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  margin-left: 50px;
  margin-top: 80px;
  color: rgb(238, 238, 238);
  opacity: 0.9;
}
.footer-clean .item.social > a:hover {
  opacity: 0.1;
}

footer div img {
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
  object-fit: contain;
}

/*MOBILE*/
@media screen and (max-width: 768px) {
  /*BANNER PRINCIPAL*/
  .header {
    display: none;
  }
  /*BARRA NAVEGADORA*/
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav .nav__items {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-inline-start: 0;
  }
  .nav .nav__items .nav__item {
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav .nav__items .nav__item:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav .nav__items .nav__item:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav .nav__items .nav__item:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav .nav__items .nav__item:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav .nav__items .nav__item:nth-child(5) a {
    transition-delay: 0.5s;
  }
  .nav .nav__items .nav__item:not(:first-child) {
    margin-left: 0;
  }
  .nav .nav__items .nav__item .nav__link {
    padding: 10px 25px;
    opacity: 0;
    color: rgb(238, 238, 238);
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav .nav__items .nav__item .nav__link:hover {
    color: rgb(252, 248, 41);
  }
  .nav__open {
    position: absolute;
    right: 10px;
    top: 16px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav__open i {
    display: block;
    width: 20px;
    height: 2px;
    background-color: rgb(252, 248, 41);
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav__open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav__open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav__open i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav__open {
  transform: rotate(45deg);
}

#nav:checked + .nav__open i {
  background-color: rgb(238, 238, 238);
  transition: transform 0.2s ease;
}

#nav:checked + .nav__open i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav__open i:nth-child(2) {
  opacity: 0;
}

#nav:checked ~ .nav__item a {
  display: block;
}

#nav:checked + .nav__open i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav ul li a {
  opacity: 1;
  transform: translateY(0);
}

/*contenido principal*/
.fabricantes h1 {
  font-size: 20px;
}

#img_inicio {
  display: none;
}

#article_fabricantes1 {
  top: 60%;
}

#article_envios {
  top: 90%;
}

.servicios h1 {
  position: relative;
  top: 110%;
  font-size: 40px;
}

#article_servicios1 {
  top: 16%;
  font-size: 15px;
}

#article_servicios2 {
  top: 25%;
  font-size: 15px;
}

#article_servicios3 {
  top: 35%;
  font-size: 20px;
}

/*footer*/
.footer-clean .item.social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 22px;
  color: inherit;
  opacity: 0.75;
}

.footer-clean .item.social > a:hover {
  opacity: 0.9;
}

.footer-clean .item.social > a {
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  /*CONTENIDO PRINCIPAL*/
  .img_inicio, .img_puertas {
    height: 30vh;
  }
  #article_fabricantes1, #article_servicios1, #article_servicios2 {
    font-size: 16px;
  }
  #article_envios {
    justify-content: center;
    font-size: 20px;
  }
  .h1_fabricantes, .h2_servicios, .h3_ubicacion, #article_ubicacion3 {
    font-size: 22px;
  }
  #article_ubicacion1, #article_ubicacion2 {
    font-size: 18px;
  }
  .mapa {
    display: none;
  }
}

/*# sourceMappingURL=estilos.css.map */
