* {
  margin: 0;
  padding: 0;
}

/*BARRA NAVEGACION*/
.navbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 0 14px 14px -14px rgba(0, 0, 0, 0.75);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.hidden {
  display: none;
}

.nav__items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

.nav__link {
  text-align: center;
  color: rgb(238, 238, 238);
  text-decoration: none;
}

.brand {
  margin: 0;
  font-size: 30px;
  font-family: "Stick No Bills", sans-serif;
}

.brand a {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.nav__items {
  margin-top: 5px;
}

.brand .nav__link,
.nav__items .nav__link {
  padding: 10px 15px;
  text-align: center;
  display: block;
}

.nav__items .nav__link {
  color: rgb(238, 238, 238);
  font-size: 0.99rem;
}

.nav__items .nav__link:hover {
  color: rgb(252, 248, 41);
}

/*CONTENIDO PRINCIPAL*/
/*MAIN*/
.h1, .h2, .h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
  text-align: center;
  color: rgb(0, 0, 0);
  animation: animacion 2s ease-in-out 0s 1 normal forwards;
}

@keyframes animacion {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.main_card_contain {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  align-items: center;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-gap: 0.5rem;
  margin: 0.5rem 0;
  margin-left: 10%;
  margin-right: 10%;
}

.h1 {
  grid-area: h1;
}

.h2 {
  grid-area: h2;
}

.h2 {
  grid-area: h2;
}

.card {
  grid-area: card;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
}

.card3 {
  grid-area: card3;
}

.card4 {
  grid-area: card4;
}

.card5 {
  grid-area: card5;
}

.card6 {
  grid-area: card6;
}

.card7 {
  grid-area: card7;
}

.card8 {
  grid-area: card8;
}

.card9 {
  grid-area: card9;
}

.card10 {
  grid-area: card10;
}

.card11 {
  grid-area: card11;
}

.card12 {
  grid-area: card12;
}

.card13 {
  grid-area: card13;
}

.card14 {
  grid-area: card14;
}

.main_card_contain {
  grid-template-areas: "h1 h1 h1" "card card1 card2" "h2 h2 h2" "card3 card4 card5" "card6 card7 card8" "card9 card10 card11" "h3 h3 h3" "card12 card13 card14";
}

.card {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card:hover .card_content {
  transform: translateY(0);
}
.card:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card1 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card1:hover .card_content {
  transform: translateY(0);
}
.card1:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card2 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card2:hover .card_content {
  transform: translateY(0);
}
.card2:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card3 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card3:hover .card_content {
  transform: translateY(0);
}
.card3:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card4 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card4:hover .card_content {
  transform: translateY(0);
}
.card4:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card5 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card5:hover .card_content {
  transform: translateY(0);
}
.card5:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card6 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card6:hover .card_content {
  transform: translateY(0);
}
.card6:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card7 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card7:hover .card_content {
  transform: translateY(0);
}
.card7:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card8 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card8:hover .card_content {
  transform: translateY(0);
}
.card8:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card9 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card9:hover .card_content {
  transform: translateY(0);
}
.card9:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card10 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card10:hover .card_content {
  transform: translateY(0);
}
.card10:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card11 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card11:hover .card_content {
  transform: translateY(0);
}
.card11:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card12 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card12:hover .card_content {
  transform: translateY(0);
}
.card12:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card13 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card13:hover .card_content {
  transform: translateY(0);
}
.card13:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.card14 {
  position: relative;
  width: 260px;
  height: 260px;
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 30px;
}
.card14:hover .card_content {
  transform: translateY(0);
}
.card14:hover .card_description {
  opacity: 1;
  transition-delay: 0.2s;
}

.img_herrero {
  display: flex;
  width: 280px;
  height: 260px;
  object-fit: contain;
}

.img_modena {
  display: flex;
  width: 260px;
  height: 250px;
  object-fit: contain;
}

.img_a30 {
  display: flex;
  width: 290px;
  height: 260px;
  object-fit: contain;
}

div img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card_title {
  font-family: "Stick No Bills", sans-serif;
  font-weight: bold;
  color: rgb(71, 71, 71);
  line-height: 20px;
  font-size: 25px;
  text-align: justify;
}

.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 14px;
  background: #dddddd;
  border-top-left-radius: 25px;
  transform: translateY(130px);
  transition: transform 0.2s;
}
.card_content::before {
  content: "";
  position: absolute;
  top: -60px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 40%;
}

.card_description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.5s;
  color: rgb(71, 71, 71);
}

/*FOOTER*/
.footer-clean {
  border: 0;
  margin: 0;
  position: static;
  padding: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(252, 248, 41);
}
.footer-clean h3 {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
}
.footer-clean ul {
  font-family: "Roboto", sans-serif;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}
.footer-clean ul a {
  color: rgb(238, 238, 238);
  text-decoration: none;
  opacity: 0.8;
}
.footer-clean ul a:hover {
  opacity: 1;
}
.footer-clean .item.social {
  text-align: right;
}
.footer-clean .item.social > a {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 60%;
  border: 1px solid #ccc;
  margin-left: 50px;
  margin-top: 80px;
  color: rgb(238, 238, 238);
  opacity: 0.9;
}
.footer-clean .item.social > a:hover {
  opacity: 0.1;
}

footer div img {
  display: flex;
  align-items: center;
  width: 38px;
  height: 38px;
  object-fit: contain;
}

/*MOBILE*/
@media screen and (max-width: 768px) {
  /*BARRA NAVEGADORA*/
  .header {
    display: none;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.2s ease;
  }
  .nav .nav__items {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-inline-start: 0;
  }
  .nav .nav__items .nav__item {
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  .nav .nav__items .nav__item:nth-child(1) a {
    transition-delay: 0.2s;
  }
  .nav .nav__items .nav__item:nth-child(2) a {
    transition-delay: 0.3s;
  }
  .nav .nav__items .nav__item:nth-child(3) a {
    transition-delay: 0.4s;
  }
  .nav .nav__items .nav__item:nth-child(4) a {
    transition-delay: 0.5s;
  }
  .nav .nav__items .nav__item:nth-child(5) a {
    transition-delay: 0.5s;
  }
  .nav .nav__items .nav__item:not(:first-child) {
    margin-left: 0;
  }
  .nav .nav__items .nav__item .nav__link {
    padding: 10px 25px;
    opacity: 0;
    color: rgb(238, 238, 238);
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;
  }
  .nav .nav__items .nav__item .nav__link:hover {
    color: rgb(252, 248, 41);
  }
  .nav__open {
    position: absolute;
    right: 10px;
    top: 16px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }
  .nav__open i {
    display: block;
    width: 20px;
    height: 2px;
    background-color: rgb(252, 248, 41);
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav__open i:nth-child(1) {
    margin-top: 16px;
  }
  .nav__open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav__open i:nth-child(3) {
    margin-top: 4px;
  }
  #nav:checked + .nav__open {
    transform: rotate(45deg);
  }
  #nav:checked + .nav__open i {
    background-color: rgb(238, 238, 238);
    transition: transform 0.2s ease;
  }
  #nav:checked + .nav__open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  #nav:checked + .nav__open i:nth-child(2) {
    opacity: 0;
  }
  #nav:checked ~ .nav__item a {
    display: block;
  }
  #nav:checked + .nav__open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
  #nav:checked ~ .nav {
    z-index: 9990;
    opacity: 1;
  }
  #nav:checked ~ .nav ul li a {
    opacity: 1;
    transform: translateY(0);
  }
  /*main cards*/
  /*footer*/
}
@media screen and (max-width: 768px) and (max-width: 768px) {
  .main_card_contain {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    grid-template-areas: "h1" "card" "card1" "card2" "h2" "card3" "card4" "card5" "card6" "card7" "card8" "card9" "card10" "card11" "h3" "card12" "card13" "card14";
  }
}
@media screen and (max-width: 768px) {
  .footer-clean .item.social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
  }
}
@media screen and (max-width: 768px) {
  .footer-clean .item.social > a:hover {
    opacity: 0.9;
  }
}
@media screen and (max-width: 768px) {
  .footer-clean .item.social > a {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=lineas.css.map */
