$color_1: rgb(0, 0, 0);
$color_2: rgb(252, 248, 41);
$color_3: rgba(238, 238, 238, 1.0);
$color_4: rgb(56, 56, 56);
$font-family_1: 'Stick No Bills', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$font-family_3: 'Roboto Condensed', sans-serif;

  /*BARRA NAVEGACION*/
  .navbar {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: $color_1;
	-webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
  }
  
  .sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
  }
  
  .hidden {
	display: none;
  }
  
  .nav__items {
    display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: $font-family_2;
  }
  
  .nav__link {
    text-align: center;
	color: $color_3;
	text-decoration: none;
  }
  
  .brand {
	margin: 0;
	font-size: 30px;
	font-family: $font-family_1;
  }
  
  .brand a {
	padding: 10px 15px;
	text-align: center;
	display: block;
  }
  
  .nav__items {
	margin-top: 5px;
  
  }
  
  .brand .nav__link,
  .nav__items .nav__link {
	padding: 10px 15px;
	text-align: center;
	display: block;
  }
  
  .nav__items .nav__link {
	color: $color_3;
	font-size: 0.99rem;
  }
  
  .nav__items .nav__link:hover {
	color: $color_2;
  }

  /*MAIN CARROUSEL*/

  .h1 {
	font-family: $font-family_3;
	color: $color_1;
	font-size: 40px;
	text-align: left;
	margin-top: 2%;
  }

  .h1 {
	-webkit-animation: h1 1s ease-in both;
	        animation: h1 1s ease-in both;
}

@-webkit-keyframes h1 {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  @keyframes h1 {
	0% {
	  -webkit-filter: blur(12px);
			  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  -webkit-filter: blur(0px);
			  filter: blur(0px);
	  opacity: 1;
	}
  }
  

  .h2, .h3, .h4, .h5 {
	font-family: $font-family_2;
	color: $color_4;
	font-size: 25px;
	text-align: center;
	margin-top: 5%;
  }


  #slider { 
	overflow: hidden; 
}
  #slider figure img { 
	width: 20%; 
	float: left; 
}
  
  #slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
}

#slider1 { 
	overflow: hidden; 
}
  #slider1 figure img { 
	width: 20%; 
	float: left; 
}
  
  #slider1 figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
}

#slider2 { 
	overflow: hidden; 
}
  #slider2 figure img { 
	width: 20%; 
	float: left; 
}
  
  #slider2 figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
}

#slider3 { 
	overflow: hidden; 
}
  #slider3 figure img { 
	width: 20%; 
	float: left; 
}
  
  #slider3 figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 15s slidy infinite;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}



  /*FOOTER*/
  
  .footer-clean {
    padding: 50px;
    background-color: $color_1;
    color: $color_2;
    h3 {
        font-family: $font-family_2;
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: bold;
        font-size: 20px;
    }
    ul {
        font-family: $font-family_2;
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 0;
        a {
            color: $color_3;
            text-decoration: none;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
        }
    }
    .item.social {
        text-align: right;
        >a {
            font-size: 30px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            display: inline-block;
            text-align: center;
            margin-left: 50px;
            margin-top: 80px;
            color: $color_3;
            opacity: 0.90;
            &:hover {
                opacity: 0.1;
            }
        }
    }
}


footer {
  div {
      img {
          display: flex;
          align-items: center;
          width: 38px;
          height: 38px;
          object-fit:contain;
      }
  }
}


  /*MOBILE*/
  
  @media screen and (max-width: 768px) {

 /*BARRA NAVEGADORA*/   
	.header {
		display: none;
	}

	.nav {
	  position: fixed;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  z-index: -1;
	  background-color: $color_1;
	  opacity: 0;
	  transition: all 0.2s ease;
	}
  
	.nav .nav__items {
      display: block;
	  position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
	  width: 100%;
	  padding-inline-start: 0;
	}
  
	.nav .nav__items .nav__item {
	  float: none;
	  width: 100%;
	  text-align: right;
	  margin-bottom: 10px;
	}
  
	.nav .nav__items .nav__item:nth-child(1) a {
	  transition-delay: 0.2s;
	}
  
	.nav .nav__items .nav__item:nth-child(2) a {
	  transition-delay: 0.3s;
	}
  
	.nav .nav__items .nav__item:nth-child(3) a {
	  transition-delay: 0.4s;
	}
  
	.nav .nav__items .nav__item:nth-child(4) a {
	  transition-delay: 0.5s;
	}

	.nav .nav__items .nav__item:nth-child(5) a {
		transition-delay: 0.5s;
	  }
  
	.nav .nav__items .nav__item:not(:first-child) {
	  margin-left: 0;
	}
  
	.nav .nav__items .nav__item .nav__link {
	  padding: 10px 25px;
	  opacity: 0;
	  color: $color_3;
	  font-size: 24px;
	  font-weight: 600;
	  transform: translateY(-20px);
	  transition: all 0.2s ease;
	}
  
	.nav .nav__items .nav__item .nav__link:hover {
	  color: $color_2;
	}
  
	.nav__open {
	  position: absolute;
	  right: 10px;
	  top: 16px;
	  display: block;
	  width: 48px;
	  height: 48px;
	  cursor: pointer;
	  z-index: 9999;
	  border-radius: 50%;
	}
  
	.nav__open i {
	  display: block;
	  width: 20px;
	  height: 2px;
	  background-color: $color_2;
	  border-radius: 2px;
	  margin-left: 14px;
	}
  
	.nav__open i:nth-child(1) {
	  margin-top: 16px;
	}
  
	.nav__open i:nth-child(2) {
	  margin-top: 4px;
	  opacity: 1;
	}
  
	.nav__open i:nth-child(3) {
	  margin-top: 4px;
	}
  
  }
  
  #nav:checked+.nav__open {
	transform: rotate(45deg);
  }
  
  #nav:checked+.nav__open i {
	background-color: $color_3;
	transition: transform 0.2s ease;
  }
  
  #nav:checked+.nav__open i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
  }
  
  #nav:checked+.nav__open i:nth-child(2) {
	opacity: 0;
  }
  
  #nav:checked~.nav__item a {
	display: block;
  }
  
  #nav:checked+.nav__open i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
  }
  
  #nav:checked~.nav {
	z-index: 9990;
	opacity: 1;
  }
  
  #nav:checked~.nav ul li a {
	opacity: 1;
	transform: translateY(0);
  }

   /*footer*/

  .footer-clean .item.social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin-left:10px;
    margin-top:22px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-clean .item.social > a:hover {
    opacity:0.9;
  }
  
    .footer-clean .item.social > a {
      margin-top:10px;
    }